@media only screen and (min-width: 800px){
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    .boxes{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 84px;
        gap: 23px;
    }
    .imagesofindex, .imagesofindex1, .imagesofindex2, .imagesofindex3, .imagesofindex4, .imagesofindex5{
        display:block;
        margin: auto;
    }
    .imagesofindex{
        margin-top: 0px;
    }
    .imagesofindex1{
        grid-column: 3;
        margin-top: 0;
    }
    .imagesofindex5{
        grid-column: 2;
        grid-row: 2;
    }
    .boxes img{
        width: 150px;
        height: 174px;
        margin-bottom: 10px;
    }
    .box2, .box3, .box4{
        height: 367px;
        width: 222px;
        color:#db545a;
        margin: auto;
    }
    .box3 {
        grid-column: 2;
        grid-row: 1;
        margin-top: auto;
    }
    .box4 {
        grid-row: 1;
        margin-top: auto;
    }
    .Primertexto{
        margin-top: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    /*------------------------------------------------------------carts page---------------------------------------------------------------------- */
    .firstpartofcarts img:first-child{
        grid-column: 2;
    }
    #firsttext{
        text-align: center;
        margin-top: 27px;
        width: 180px;
    }
    .firstpartofcarts img:nth-child(3){
        width: 168px;
        height: 167px;
        grid-column: 3;
        margin: auto;
    }
    #secondtext{
        grid-row: 2;
        grid-column: 2;
        text-align: center;
        margin-top: 46px;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
    }
    .firstpartofcarts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 190px 1fr;
    }
    .firstpartofcarts img:first-child{
        width: 165px;
        margin-top: 39px;
        margin-right: -5px;
    
    }
    .firstpartofcarts img:nth-child(3) {
        width: 186px;
        height: 162px;
        margin-left: -7px;
    }
    .firstpartofcarts img:nth-child(5){
        display: inline;
        width: 180px;
        height: 340px;
        grid-column: 1;
        grid-row: 1/2;
        margin-top: 28px;
        margin-left: auto;
        margin-right: auto;
    }
    .firstpartofcarts img:nth-child(6){
        display: inline;
        width: 180px;
        height: 340px;
        grid-column: 4;
        grid-row: 1/2;
        margin-top: 28px;
    }
    .carts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
    }
    #cart1, #cart2, #cart3, #cart4, #cart5, #cart6 {
        width: 250px;
        height: 380px;
    }
/*------------------------------------------------------------video page---------------------------------------------------------------------- */ 
.imagenespartearriba img{
    width: 190px;
    height: 278px;
    margin: auto;
}
.imagenesparteabajo img{
    width: 190px;
    height: 278px;
    margin: auto;
}
.imagenumber6, .imagenumber7, .imagenumber8, .imagenumber9{
        display: inline;
    }
}
@media only screen and (min-width: 953px){
    .boxes img{
        width: 170px;
        height: 215px;
    }
    .box2, .box3, .box4{
        height: 403px;
        width: 255px;
    }
    /*------------------------------------------------------------video page---------------------------------------------------------------------- */
    .imagenespartearriba img{
        width: 213px;
        height: 278px;
        margin: auto;
    }
    .imagenesparteabajo img{
        width: 213px;
        height: 278px;
        margin: auto;
    }
    .imagenespartearriba, .imagenesparteabajo{
        gap: 40px;
    }   
    iframe {
        width: 430px;
        height:350px;
    }
}
@media only screen and (min-width: 1330px){
    .box2, .box3, .box4{
        height:550px;
    }
}