/* header */
header{
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr;
    background-image: url(https://i.ibb.co/s57NrgV/aba074a8-fa0d-44be-8b86-1d2328bdad12.jpg);
    margin: 0 auto;
    height: 165px;
    width: auto;
    border-radius: 20px;
    border: 3px solid #000;
}

header h1{
    font-size: 33px;
    grid-column: 1/4;
    padding-left: 15px;
    font-family: 'Dancing Script', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
html {
    background-image: url(https://i.ibb.co/s57NrgV/aba074a8-fa0d-44be-8b86-1d2328bdad12.jpg);
    background-position-x: 406px;
    background-position-y: 803px;
	background-attachment: fixed;
	}

body {
	height: 100%;
	background-image: linear-gradient(hsl(10,90,66), transparent 70%);
	background-size: 100% 100%;
	mix-blend-mode: difference;
	}

h2 h3 h4{
    font-family: 'Lora', cursive;
}
h1{
    color: #DEFFF2;
}
p,a{
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 13px;
}
@property --rotate {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}
.modal::before {
	content: "";
	display: block;
    width: 102%;
height: 730px;
	background: conic-gradient(
			from var(--rotate) at 50% 50%,
			#000009 6%,
			#5F4BB6 90%,
			#0FF4C6 100%
		),
		#D68FD6;
	position: absolute;
	z-index: -1;
	top: -5%;
	left: -2%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

/* ham buttom */
body {
	font-family: Roboto, sans-serif;
}
/* Mobile View ***************/
.navi{

    display: grid;
    grid-column: 5;
    grid-row: 1;
    background-color: transparent;
}
#menu {
    grid-column: 6;
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	color: transparent;
}

#menu::before {
	content: "≡";
    color: #DEFFF2;
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #DEFFF2;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	color: #D68FD6;
	background-color: #000009;
}
.navigation a:active{
    color: #DEFFF2;
    background-color: #000009;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* boton */
#pressMe {
    display: flex;
    width: 288px;
    height: 60px;
    font-size: 20pt;
    border-radius: 10px;
    border: none;
    background: #5442a0;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lora', cursive;
  }
  
  #pressMe:hover {
    background: white;
    color: #5442a0;
  }
  .message {
    display: none;
    position: absolute;
    top: 644px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5442a0;
    color: black;
    text-align: center;
    border-radius: 30px;
    width: 312px;
    height: 78px;
  }
  .message p{
    font-size: 30px;
    font-family: 'Lora', cursive;
    margin-top: 18px;
  }



/* main */
.firstimage img {
    grid-column: 1/5;
    grid-row: 2;
    margin-top: -7px;
    width: 100%;
    height: 430px;
}
.stats {
    text-align: center;
    position: absolute;
    height: 61px;
    top: 168px;
    right: 18px;
    background: radial-gradient(#eee, #f6f6f6);
    border: 3px solid #000;
    opacity: .9;
    margin-left: 69px;
    width: 230px;
    border-radius: 22px;
}
.stats h2{
    font-size: 15px;
    margin-top: 8px;
}
.Lomasbonito{
    font-size: 40px;
    text-align: center;
    color: #ebfffb;
    background: #5442a0;
    border-radius: 30px;
    margin-top: 20px;
    font-family: 'Dancing Script', sans-serif;
}
.dot {
    background: #000000;
    border-radius: 0.8em;
   color: #ffffff;
   display: inline-block;
   font-weight: bold;
   line-height: 1.6em;
   margin-right: 15px;
   text-align: center;
   width: 1.6em; 
   margin: 15px;
   margin-top: -11px;
   margin-bottom: -14px;
}  
/*----------- boxes--------- */  
.imagesofindex, .imagesofindex1, .imagesofindex2, .imagesofindex3, .imagesofindex4, .imagesofindex5{
    display: none;
}
.boxes{
    text-align: center;
}
.boxes img{
    width: 60%;
    padding: 7px;
    box-shadow: -3px 20px 20px 0px #000000;
    background-color:#FFFBFC;
}
.box2, .box3, .box4 {
    background-color: #0FF4C6;
    width: 270px;
    border: 4px solid #db545a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 398px;
    border: 1px solid #000;
}
.box2 h4{
    color:#000009;
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;

}
.box3 h4{
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    color:#000009;
}
.box4 h4{
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    color:#000009;
}
/*----------- texto--------- */
.Primertexto{
    background-color: #0FF4C6;
    border-radius: 130px;
}
.Primertexto p{
    text-align: center;
    padding: 25px;
    color: #000009;
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Dancing Script', sans-serif;
    
}

/*------------video--------- */
iframe {
    display: block;
    margin: 0 auto;
    width: 358px;
 }
/*------------footer--------- */
footer{
    background-image: url(https://i.ibb.co/s57NrgV/aba074a8-fa0d-44be-8b86-1d2328bdad12.jpg);
    margin-top: 30px;
    height: 100px;
}

/*------------------------------------------------------------carts page---------------------------------------------------------------------- */

.firstpartofcarts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 25px;
}
.firstpartofcarts img:first-child{
    width: 159px;
    height: 214px;
    grid-column: 1;
    margin: auto;
}
#firsttext{
    text-align: center;
    margin-top: 27px;
    width: 180px;
    color: white;
    font-size: 16px;
}
.firstpartofcarts img:nth-child(3){
    width: 178px;
    height: 187px;
    grid-column: 2;
    margin: auto;
    margin-top: 10px;
}
#secondtext{
    grid-row: 2;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    color: white;
    font-size: 16px;
}
.firstpartofcarts img:nth-child(5){
    display: none;
}
.firstpartofcarts img:nth-child(6){
    display: none;
}


#cart1, #cart2, #cart3, #cart4, #cart5, #cart6 {
    background-color: #0FF4C6;
    box-shadow: 1px 0px 20px 0px #000000;
    border: 3px solid #000;
    width: 320px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 470px;
    margin-top: 15px;
    font-family: 'Dancing Script', sans-serif;
    font-size: 25px;
}
.carts img{
    width: 270px;
}
.downtitlerazones h1{
    background-color: #0FF4C6;
    font-size: 35px;
    text-align: center;
    color: #000;
    margin-top: 20px;
    font-family: 'Dancing Script', sans-serif;
}
.Razones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:auto
}
.primeraparte{
    margin-left: auto;
    margin-right: auto;
}
.segundaparte{
    margin-left: auto;
    margin-right: auto;
}
.terceraparte{
    margin-left: auto;
    margin-right: auto;
}
li{
    color: white;
    font-family: 'Dancing Script', sans-serif;
    font-size: 22px;
}

/*------------------------------------------------------------video page---------------------------------------------------------------------- */
iframe{
    height: 237px;
    width: 270px;
}
.imagenespartearriba, .imagenesparteabajo{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 16px;
}
.imagenespartearriba img{
    width: 173px;
    height: 248px;
    margin: auto;
}
.imagenesparteabajo img{
    width: 173px;
    height: 248px;
    margin: auto;
}
.imagenumber6, .imagenumber7, .imagenumber8, .imagenumber9{
    display: none;
}

/* -----------------------------------------------------------login page----------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato);

.bodylogin {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  background: url("https://i.ibb.co/dGy8SN0/cumple1.jpg") 0 / cover
    fixed;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow:
  0 0.4px 0.6px rgba(0, 0, 0, 0.141),
  0 1px 1.3px rgba(0, 0, 0, 0.202),
  0 1.9px 2.5px rgba(0, 0, 0, 0.25),
  0 3.4px 4.5px rgba(0, 0, 0, 0.298),
  0 6.3px 8.4px rgba(0, 0, 0, 0.359),
  0 15px 20px rgba(0, 0, 0, 0.5);
}


h1{
    margin-bottom: 0.3em;
    padding: 12px 0;
    font-size: 2.5em;
}

.form-field {
    position: relative;
    margin: 20px 0 8px 0;
    font-size: 20px;
    border-bottom: 1px solid white;
    transition: 0.4s;
    &::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3498db;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.4s ease;
}

&:focus-within::after {
    transform: scaleX(1);
}

input {
    padding-left: 10px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
    transform: translateY(-24px) scale(0.75);
}

      &:valid ~ label {
        color: #3498db;
      }

      &:invalid ~ label {
        color: #e74c3c;
      }
    }

    label {
      position: absolute;
      left: 32px;
      top: 24px;
      transform-origin: left;
      transition: 0.4s;
    }
  }

#btn {
    position: relative;
    width: 100%;
    padding: 6px 0;
    margin: 36px 0 18px 0;
    font-size: 1.2em;
    color: white;
    background: transparent;
    border: 2px solid hsla(204, 70%, 53%, 1);
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        120deg,
        transparent,
        hsla(204, 70%, 53%, 0.5),
        transparent
      );
      transform: translateX(-100%);
      transition: 0.5s;
}

    &:hover {
      box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
    }

    &:hover::before {
      transform: translateX(100%);
    }
}
  
